In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('debugging.csv')

In [3]:
data.head()

   Bug ID  Time Taken to fix the bug
0   12986                       2.42
1   12987                       2.03
2   12988                       2.74
3   12989                       3.21
4   12990                       3.40

In [4]:
data.tail()

      Bug ID  Time Taken to fix the bug
2093   15079                       4.17
2094   15080                       1.05
2095   15081                       2.50
2096   15082                       2.85
2097   15083                       2.64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2098 entries, 0 to 2097
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Bug ID                     2098 non-null   int64
 1   Time Taken to fix the bug  2098 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 32.9 KB

In [6]:
data.describe()

             Bug ID  Time Taken to fix the bug
count   2098.000000                2098.000000
mean   14034.500000                   3.012531
std      605.784753                   1.147148
min    12986.000000                   1.010000
25%    13510.250000                   2.010000
50%    14034.500000                   3.005000
75%    14558.750000                   4.030000
max    15083.000000                   5.000000

In [8]:
data.isnull().sum()

Bug ID                       0
Time Taken to fix the bug    0
dtype: int64

In [9]:
probability_less_than_3 = (data['Time Taken to fix the bug'] < 3).mean()
print(f"Probability that debugging time is less than 3 hours: {probability_less_than_3:.4f}")

Probability that debugging time is less than 3 hours: 0.4976

In [10]:
probability_more_than_2 = (data['Time Taken to fix the bug'] > 2).mean()
print(f"Probability that debugging time is more than 2 hours: {probability_more_than_2:.4f}")

Probability that debugging time is more than 2 hours: 0.7521

In [11]:
median_time = np.percentile(data['Time Taken to fix the bug'], 50)
print(f"50th Percentile (Median) of debugging time: {median_time:.2f} hours")

50th Percentile (Median) of debugging time: 3.00 hours